button.arrow {
  width: 15rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.arrow .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.arrow .circle .iconarrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.arrow .circle .iconarrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.arrow .circle .iconarrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #e3007a;
  border-right: 0.125rem solid #e3007a;
  transform: rotate(45deg);
}

button.arrow:hover .circle .iconarrow::before {
  border-color: rgba(40, 44, 52, 20);
}

button.arrow .buttontext {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 1.2rem;
  margin: 0 0 0 1.85rem;
  color: #e3007a;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  /*  text-transform: uppercase; */
}
button:hover .circle {
  width: 100%;
  background-color: #e3007a;
  border-style: solid;
}

button:hover .circle .iconarrow {
  background: rgba(40, 44, 52, 20);
  transform: translate(1rem, 0);
}

button:hover .buttontext {
  color: rgba(40, 44, 52, 20);
}
